.championFond{
    background-image: url("../images/NbaTrophyBackground.png");
    background-color: black;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    height: 150vh;
}

.mesActus{
    
    position: relative;
    margin-top: 50%;
    width: 96%;
    margin-left: 2%;
}

.separer{
    margin : 10%;
}

.separer2{
    margin : 5%;
}

.monTableau{
    height: 70%;
    border-style: solid;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 0.2vw;
    text-align: center;
    margin-left: 5%;
    width: 95%;
}

.classement{
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1%;
    text-align: center;
}