@font-face {
    font-family: Poppins-black;
    src: url("../polices/Poppins-Black.ttf");
}

.kobefond{
    background-image: url("../images/Kobe.png");
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.Hero{
    text-align: left;
}

.espaceTitre{
    line-height: 4vw;
}

.NBAtitre{
    font-family: Poppins-black;
    position: relative;
    margin-top: 60%;
    font-size: 4.8vw;
    color: blanchedalmond;
}

.Stattitre{
    font-family: Poppins-black;
    font-size: 4.8vw;
    color: rgb(150, 43, 150);
}

.description{
    color: blanchedalmond;
    margin-top: 4%;
    font-size: 1.3vw;
}

.image{
    width: 100%;
    position: absolute;
}

.separer{
    margin : 15%;
}

.players{
    height: 70vh;
}