.equipe1{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.6vw;
    padding-top: 1%;
    line-height: 2vw;
    padding-bottom: 1%;
    text-align: center;
    border-style: solid;
    border-color: white;
    margin-bottom: 5%;
    border-width: 0.2vw;
}

.equipe2{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.6vw;
    padding-top: 1%;
    line-height: 2vw;
    padding-bottom: 1%;
    text-align: center;
    border-style: solid;
    border-color: white;
    margin-bottom: 5%;
    border-width: 0.2vw;
}

.score{
    background-color: rgb(150, 43, 150);
    font-size: 2.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 2vw;
    margin-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 0.2vw;
}