@font-face {
  font-family: Poppins-light;
  src: url("./polices/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-regular;
  src: url("./polices/Poppins-Regular.ttf");
}

.App {
  text-align: center;
  font-family: Poppins-light;    
  background-color: black;
  color: blanchedalmond;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
